$main-font: 'Helvetica';

$bg-green: #208457;
$bg-dark-green: #092327;
$bg-p-light: #f8f8f8;

$red:  #a30f0f;
$green: #1f8456;
$dark-green: #093d26;

$small-font-size: 10px;
$medium-font-size: 15px;

$link-font-color: $bg-dark-green;
